@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Newsreader:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

body {
    padding: 0;
    margin: 0;
    background: rgb(15, 15, 15);
}

.body {
    width: 90%;
    margin: 7em auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
}

.body2 {
  width: 90%;
  margin: 1em auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}

.topbody {
    width: 100%;
    top: 0px;
    margin: 0px;
    background: rgb(0, 0, 0);
    position: fixed;
}

.bottombody {
  width: 100%;
  bottom: 0px;
  height: 3.5em;
  margin: 0px;
  background: rgb(0, 0, 0);
  position: fixed;
}

.divbottomblock {
  width: 100%;
  bottom: 0px;
  height: 3em;
  margin: 0px;
  background: rgba(0, 0, 0, 0);
}

.LogoTop {
    width: 90px;
    position: absolute;
}

.search-container {
  width: 90%;
  margin: 2em auto;
  height: 3em;
  background: rgba(245, 222, 179, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 50px;
}

.search-container2 {
  width: 90%;
  margin: 1em auto;
  height: 2.5em;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.604);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
}

#mySearch {
  width: 93%;
  height: 3em;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 0px solid;
  outline: none;
}

.lineverticle {
  width: 1px;
  height: 70%;
  border-radius: 50px;
  background: rgb(80, 80, 80);
}

.Search-butn {
  margin-left: 5px;
  color: rgb(80, 80, 80);
}

.Search-butn:hover {
  color: rgb(255, 255, 255);
}

.di2 {
  margin: 5em auto;
  margin-left: 10px;
  padding: 5px;
  width: 90%;
  height: 30%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.399);
}

.FauPlaybody {
  width: 90%;
  margin: 3em auto;
  background: linear-gradient(orangered, rgb(228, 85, 33), rgb(215, 95, 51), rgb(237, 120, 81), rgb(241, 186, 144), rgb(249, 249, 249));
  border-radius: 20px;
}

.pfpbox {
  width: 100px;
  padding: 10px;
  position: absolute;
}

.pfpsquare {
  width: 100%;
  border: 3px solid snow;
  border-radius: 10px;
  background: rgba(255, 250, 250, 0.319);
}

.FauPLAYh1 {
  font-size: 30px;
  color: white;
  margin-left: 4.3em;
  position: relative;
}

.fauplayp {
  font-size: 13px;
  color: white; 
  margin-left: 10em;
  position: relative;
  margin-bottom: 8%;
}

.fauplayp-black {
  font-size: 15px;
  color: rgb(0, 0, 0); 
  margin-left: 10px;
  position: relative;
}

.followus {
  width: 7.5em;
  height: 2.5em;
  margin-left: 15px;
  border-radius: 20px;
  border: 1px solid rgb(54, 54, 54);
  background: #00000089;
  color: white;
  margin-bottom: 10px;
}

.followus:hover{
  background: rgba(255, 255, 255, 0.195);
}

.followus2 {
  width: 2.5em;
  height: 2.5em;
  margin-left: 5px;
  border-radius: 20px;
  border: 1px solid rgb(54, 54, 54);
  background: #00000089;
  color: white;
  margin-bottom: 10px;
  size: 10px;
}

.followus2:hover{
  background: rgba(255, 255, 255, 0.195);
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd00;
  font-size: 15px;
  color: white;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 7px;
}

#myTable tr {
  border-bottom: 1px solid #dddddd00;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f148;
}

.audiobox {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0);
}

.Audiobox-content {
  position: relative;
  top: 75%;
  width: 80%;
  margin-top: 30px;
  margin: auto;
  border-radius: 10px;
  background: #000000db;
}

.AudioName {
  font-size: 25px;
  margin: 10px;
  color: white;
}

.ControlAudio {
  width: 4em;
  height: 4em;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 0px;
  background: transparent;
  color: white;
}

.ControlAudio:hover {
  background: rgba(255, 255, 255, 0.233);
}

.audiobox .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.audiobox .closebtn:hover {
  color: #ccc;
  background: rgba(255, 255, 255, 0.233);
}

audio {
  width: 90%;
  margin: 5px;
  color: rgba(255, 255, 255, 0.229);
}

.p {
  font-size: 13px;
  color: white; 
  margin-left: 10px;
  position: relative;
  margin-bottom: 5px;
}

h1 {
    font-family: 'Kenia', cursive;
    color: orangered;
    font-size: 35px;
    margin-left: 2em;
}

h4 {
  font-family: 'Kenia', cursive;
  color: white;
  font-size: 20px;
  margin: 5px;
}

.opennav {
  width: 6em;
  height: 6em;
  right: 0px;
  color: white;
  background: rgb(0, 0, 0);
  border: 0px;
  position: fixed;
}

.opennav:hover {
  background: rgba(255, 68, 0, 0.484);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgb(9, 9, 9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.butns-nav {
  width: 90%;
  margin: 2em auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.091);
}

.overlay a {
  width: 95%;
  height: 2em;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #d0d0d0;
  display: block;
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  background: #ff550044;
}

.overlay .closebtn {
  position: absolute;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 45px;
  font-size: 60px;
  border-radius: 50px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.line {
    width: 20%;
    margin: 1em auto;
    height: 1px;
    background: #6e6f00;
}

.line2 {
  width: 90%;
  margin: 1em auto;
  height: 1px;
  background: #6e6f00;
}

.line3 {
    width: 90%;
    margin-left: 45px;
    height: 1px;
    background: #c7c7c7;
}

.line4 {
  width: 90%;
  margin-left: 10px;
  height: 1px;
  background: #c7c7c7;
}

.glow {
    margin-left: 5px;
    color: goldenrod;
    text-align: center;
    font-family: 'Sigmar', cursive;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #e6cf00, 0 0 30px #e6de00, 0 0 40px #e68200;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #506100, 0 0 30px #bbb800, 0 0 40px #edf100, 0 0 50px #fff700;
  }
}



.card {
  margin: 2em auto;
  background: linear-gradient(rgb(143, 136, 0), rgb(126, 92, 5));
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  width: 75%;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.Box-container {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.234);
  width: 100%;
}

/***********/


/***********/

.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 20px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: px;
    background: #dddddd00;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/***/

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgba(255, 255, 255, 0.128);
  margin: 10px;
  border-radius: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.102);
  cursor: pointer;
  color: white;
  border-radius: 50px;
}

.btn:hover {
  background-color: #ff730085;
}

.btn.active {
  background-color: #666;
  color: white;
}

/***/

.Bottombar-Search {
  width: 33.2%;
  height: 3.5em;
  bottom: 0px;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  float: left;
}

.Bottombar-Search:hover {
  background: rgba(255, 255, 255, 0.095);
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

/* Style the navigation links */
#myMenu li a {
  width: 90%;
  padding: 12px;
  transition-duration: 500ms;
  text-decoration: none;
  color: rgb(248, 248, 248);
  display: block;
  border-radius: 50px;
}

#myMenu li a:hover {
  color: white;
  background-color: rgba(255, 106, 0, 0.266);
}

.trackcontainer {
  width: 100%;
  height: 6.5em;
  background: rgba(255, 255, 255, 0);
  position: relative;
  border-radius: 10px;
}

.trackcontainer:hover {
  background: rgba(255, 255, 255, 0.099);
}
.Thumbnail-circle {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  background: rgba(255, 255, 255, 0.13);
  margin: 5px;
  margin-top: 10px;  
  position: absolute;
  border-radius: 10px;
}

.Trackname {
  color: white;
  padding-top: 15px;
  margin-left: 4.5em;
}

.trackdiscription {
  color: white;
  margin-left: 7em;
  margin-bottom: 5px;
}

.note-white {
  margin-left: 10px;
  color: white;
}