@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Newsreader:opsz@6..72&display=swap');

body {
    background: rgb(31, 31, 31);
    margin: 0;
}

.body {
    width: 90%;
    height: auto;
    margin: 3em auto;
}

h1 {
    font-family: 'Kenia', cursive;
    font-size: 60px;
    position: relative;
    margin-left: 5px;
    color: orangered;
}
  
h2 {
    font-family: 'Kenia', cursive;
    font-size: 30px;
    position: relative;
    color: rgb(0, 255, 0);
}

.topnav {
    width: 100%;
    height: 2em;
    background-color: #333;
    left: 0px;
    top: 0px;
    right: 0px;
    position: fixed;
}

.selectednav-butn {
    width: 5em;
    height: 2.4em;
    background: orangered;
    border: 0px;
    left: 0px;
    float: left;
    position: relative;
}

.selectednav {
    width: auto;
    height: 2.4em;
    background: #333;
    border: 0px;
    left: 0px;
    transition-duration: 500ms;
    float: left;
}

.selectednav:hover {
    background: orangered;
}

.line {
    width: 100%;
    height: 3px;
    position: relative;
    background: #626262;
}

img {
    width: 98.3%;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    box-shadow: 0 4px 8px 0 #26909a, 0 6px 20px 0 rgb(0, 255, 229); 
}

.starnews-box {
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
}

.starnews {
    width: 95%;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 #ff4400, 0 6px 20px 0 rgb(255, 132, 0); 
}
  
.starnews2 {
  width: 90%;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 #ff4400, 0 6px 20px 0 rgb(255, 132, 0); 
}

.news-directnote{
    font-size: 25px;
    font-family: monospace;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0px;
    background: transparent;
    color: orangered;
}

.Readnews-box {
    width: 95%;
    height: auto;
    border-radius: 20px;
    border: 0px solid orangered;
    position: relative;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
}

h3 {
    font-size: 25px;
    color: orangered;
    margin: 10px;
    font-family: 'kenia',cursive;
}

.news-box {
    width: 100%;
    height: 3em;
    background: white;
    margin: 5px;
    border: 2px solid rgb(60, 255, 0);
    background: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-butn {
    font-size: 18px;
    border: 0px;
    background: transparent;
    position: relative;
    margin-top: 10px;
    color: rgb(86, 161, 99);
}

.note {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    color: rgb(34, 255, 0);
}

.aurthors-info {
    width: 100%;
    height: auto;
    background: #626262;
    border-radius: 10px;
}

.info {
    margin: 15px;
}

.back {
    width: 8em;   
    height: 3em;
    border: 0px;
    border-radius: 50px;
    background: #ff713d;
    transition-duration: 500ms;
}

.back:hover {
    background-color: orangered;
}

.Webcards {
    width: 45%;
    height: 15em;
    position: relative;
    background: #ff44003b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px white solid;
    margin-bottom: 10px;
    float: left;
    margin-left: 10px;
}

.pfpcircle {
    width: 5em;
    height: 5em;
    border-radius: 50px;
    border: white 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    position: relative;
    margin-bottom: 100px;
}

.pfp {
    width: 60px;
    border: 0px;
    box-shadow: 0px;

}

.Namecard {
    font-size: 20px;
    margin-top: 3em;
    color: white;
    position: absolute;
}

.Namecard-info {
    font-size: 15px;
    margin-top: 10em;
    margin-left: 5px;
    color: white;
    position: absolute;
}

  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 30%;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #333;
}
  
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


button {
  height: 3em;
  border: 1px solid  rgb(185, 185, 185);
  border-radius: 20px;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

/* Style the navigation links */
#myMenu li a {
  width: 90%;
  padding: 12px;
  transition-duration: 500ms;
  text-decoration: none;
  color: orangered;
  display: block;
  border-radius: 50px;
}

#myMenu li a:hover {
  color: white;
  background-color: orangered;
}

.Main-Headlines {
  width: 90%;
  height: auto;
  margin: 1em auto;
  background: #111010;
  border-radius: 20px;
  position: relative;
}

.M-head {
  font-family: 'kenia' cursive;
  color: orangered;
  padding: 15px;
}

.line2 {
  width: 90%;
  margin-left: 14px;
  margin-top: 5px;
  height: 2px;
  background: #333;
}

.line3 {
  width: 90%;
  margin-left: 14px;
  height: 1px;
  background: #333;
}

.news-link {
  width: 100%;
  height: 8em;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
}

.news-link:hover {
  background: rgba(255, 255, 255, 0.043);
}

.news-thumb {
  width: 150px;
  margin-top: 15px;
  margin-left: 20px;
  box-shadow: none; 
  position: absolute;
  border-radius: 5px;
}

.Text-link {
  position: relative;
  margin-top: 40px;
  margin-left: 12em;
  font-size: 15px;
  border: 0px;
  background: transparent;
  color: orangered;
}

.Search-butn {
  color: black;
  position: absolute;
  width: 2.4em;
  height: 2.4em;
  border: 1px solid rgb(96, 96, 96);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 85%;
  height: 3em;
  margin-left: 3.5em;
  text-align: center ;
  border-radius: 50px;
  border: 1px solid rgb(96, 96, 96);
  padding: 5px;
}

.News-Categories {
  width: 90%;
  height: auto;
  margin: 1em auto;
  background: #111010;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
}

.Back-butn {
  font-size: 15px;
  border: 0px;
  border-radius: 50px;
  background: #ff6325;
  transition-duration: 500ms;
}

.Back-butn:hover {
  background: orangered;
}