@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Newsreader:opsz@6..72&display=swap');

body {
    background: white;
    margin: 0;
}

.body {
    width: 90%;
    height: auto;
    margin: 3em auto;
}

.body3 {
  width: 90%;
  height: auto;
  margin: 10em auto;
}

h1 {
    font-family: 'Kenia', cursive;
    font-size: 60px;
    position: relative;
    margin-left: 5px;
    color: orangered;
}
  
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    position: relative;
    color: red;
}

.posterpic {
  margin-top: 3em;
}

.WebHome {
  width: 200px;
  border-radius: 0;
  box-shadow: none;
}

.topnav {
    width: 100%;
    height: auto;
    background-color: #000000;
    left: 0px;
    top: 0px;
    right: 0px;
    position: fixed;
}

.line {
    width: 100%;
    height: 3px;
    position: relative;
    background: #626262;
}

img {
    width: 98.3%;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    box-shadow: 0 4px 8px 0 #9a8c26, 0 0px 0px 0 rgb(251, 255, 0); 
}

.starnews-box {
    width: 100%;
    height: auto;
    position: relative;
}

.starnews {
    width: 95%;
    border-radius: 0px;
    position: relative;
    box-shadow: none; 
}

.starNews-half {
  width: 45%;
  border-radius: 0px;
  position: relative;
  box-shadow: none; 
}
  
.starnews2 {
  width: 90%;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 #ff4400, 0 6px 20px 0 rgb(255, 132, 0); 
}

.news-directnote{
    font-size: 25px;
    font-family: monospace;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0px;
    background: transparent;
    color: orangered;
}

.Readnews-box {
    width: 95%;
    height: auto;
    border-radius: 20px;
    border: 0px solid orangered;
    position: relative;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
}

h3 {
    font-size: 25px;
    color: orangered;
    margin: 10px;
    font-family: 'kenia',cursive;
}

.news-box {
    width: 100%;
    height: 3em;
    background: white;
    margin: 5px;
    border: 2px solid rgb(60, 255, 0);
    background: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-butn {
    font-size: 18px;
    border: 0px;
    background: transparent;
    position: relative;
    margin-top: 10px;
    color: rgb(86, 161, 99);
}

.note {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    color: rgb(79, 152, 70);
}

.noteCAP {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  width: 90%;
  color: rgb(105, 21, 21);
}

.aurthors-info {
    width: 100%;
    height: auto;
    background: #626262;
    border-radius: 10px;
}

.info {
    margin: 15px;
}

.back {
    width: 8em;   
    height: 3em;
    border: 0px;
    border-radius: 50px;
    background: #ff713d;
    transition-duration: 500ms;
}

.back:hover {
    background-color: orangered;
}

.Webcards {
    width: 45%;
    height: 15em;
    position: relative;
    background: #ff44003b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px white solid;
    margin-bottom: 10px;
    float: left;
    margin-left: 10px;
}

.pfpcircle {
    width: 5em;
    height: 5em;
    border-radius: 50px;
    border: white 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    position: relative;
    margin-bottom: 100px;
}

.pfp {
    width: 60px;
    border: 0px;
    box-shadow: 0px;

}

.Namecard {
    font-size: 20px;
    margin-top: 3em;
    color: white;
    position: absolute;
}

.Namecard-info {
    font-size: 15px;
    margin-top: 10em;
    margin-left: 5px;
    color: white;
    position: absolute;
}

  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 30%;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.544);
    border-radius: 20px;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #020202;
    resize: none;
    min-height: 100px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #393939;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    border-radius: 50px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

/* Style the navigation links */
#myMenu li a {
  width: 90%;
  padding: 12px;
  transition-duration: 500ms;
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  border-radius: 50px;
}

#myMenu li a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.266);
}

.di {
  margin: 4em auto;
  padding:4px;
  width: 90%;
  height: 40%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

.Main-Headlines {
  width: 100%;
  height: auto;
  background: #11101000;
  border-radius: 20px;
  position: relative;
}

.M-head {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  background: orangered;
  color: rgb(254, 254, 254);
  padding: 15px;
}

.watchvidtitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  color: rgb(255, 0, 0);
  padding: 15px;
} 

.line2 {
  width: 90%;
  margin-left: 14px;
  margin-top: 5px;
  height: 2px;
  background: #333;
}

.line3 {
  width: 90%;
  margin-left: 14px;
  height: 1px;
  background: #333;
}

.news-link {
  width: 100%;
  height: 8em;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
}

.news-link:hover {
  background: rgba(71, 71, 71, 0.308);
}

.news-thumb {
  width: 150px;
  margin-top: 15px;
  margin-left: 20px;
  box-shadow: none; 
  position: absolute;
  border-radius: 5px;
}

.Text-link {
  position: relative;
  margin-top: 40px;
  margin-left: 10em;
  font-size: 15px;
  border: 0px;
  font-size: 18px;
  background: transparent;
  color: rgb(0, 0, 0);
}

.Text-link:hover{
  color: orangered;
}

.Text-linkdark {
  position: relative;
  margin-top: 40px;
  margin-left: 10em;
  font-size: 15px;
  border: 0px;
  font-size: 18px;
  background: transparent;
  color: rgb(255, 255, 255);
}

.Text-linkdark:hover {
  color: orangered;
}

.Text-link2 {
  margin: 15px;
  font-size: 12px;
  border: 0px;
  font-size: 18px;
  background: transparent;
  color: white;
}

.Text-link2:hover{
  color: orangered;
}

.label {
  margin-top: 10px;
  margin-left: 12em;
  background: orangered;
  width: 4em;
  height: 1.5em;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.search-container {
  width: 90%;
  margin: 2em auto;
  height: 3em;
  background: rgba(245, 222, 179, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 50px;
}

.search-container2 {
  width: 90%;
  margin: 10px;
  height: 2.5em;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.604);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
}

.lineverticle {
  width: 1px;
  height: 70%;
  border-radius: 50px;
  background: rgb(80, 80, 80);
}

.Search-butn {
  margin-left: 5px;
  color: rgb(80, 80, 80);
}

.Search-butn:hover {
  color: rgb(0, 0, 0);
}

#mySearch {
  width: 98%;
  height: 3em;
  font-size: 14px;
  color: black;
  background-color: transparent;
  border: 0px solid;
  outline: none;
}

.News-Categories {
  width: 100%;
  height: auto;
  background: black;
}

.Back-butn {
  font-size: 15px;
  border: 0px;
  border-radius: 50px;
  background: #ff6325;
  transition-duration: 500ms;
}

.Back-butn:hover {
  background: orangered;
}

.supportus {
  width: 100%;
  height: auto;
  bottom: 0px;
  position: relative;
  background: black;
}

.opennav {
  width: 6.6em;
  height: 6.6em;
  right: 0px;
  color: white;
  background: rgb(0, 0, 0);
  border: 0px;
  position: fixed;
}

.opennav:hover {
  background: rgba(255, 68, 0, 0.484);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgb(9, 9, 9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  width: 90%;
  height: 2em;
  margin: 15px;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #3c3c3c;
  background: rgba(255, 255, 255, 0);
  display: block;
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  background: #ff550044;
}

.overlay .closebtn {
  position: absolute;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 45px;
  font-size: 60px;
  border-radius: 50px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

video {
  margin-top: 20px;
  border-radius: 5px;
}

.CommentON-butn {
  width: 4em;
  height: 4em;
  border-radius: 50px;
  border: 1px solid rgb(95, 95, 95);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CommentON-butn:hover {
  background: rgb(95, 95, 95);
  color: black;
}

.followborder {
  width: 3em;
  height: 3em;
  margin-left: 5px;
  border-radius: 50px;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

}

.followbutn {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 50px;
    position: relative;
    box-shadow: none; 
}

h4 {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  color: rgb(81, 166, 81);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #ffffff00;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ff712f38;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f1f1f11a;
  margin-bottom: 10px;
  color: white;
}

.FauPlaybody {
  width: 90%;
  margin: 3em auto;
  background: linear-gradient(orangered, rgb(228, 85, 33), rgb(215, 95, 51), rgb(237, 120, 81), rgb(241, 186, 144), rgb(249, 249, 249));
  border-radius: 20px;
}

.pfpbox {
  width: 100px;
  padding: 10px;
  position: absolute;
}

.pfpsquare {
  border: 3px solid snow;
  background: rgba(255, 250, 250, 0.319);
}

.di2 {
  margin: 1em auto;
  margin-left: 10px;
  padding: 4px;
  width: 90%;
  height: 30%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.FauPLAYh1 {
  font-size: 30px;
  color: white;
  margin-left: 4.3em;
  position: relative;
}

.fauplayp {
  font-size: 13px;
  color: white; 
  margin-left: 10em;
  position: relative;
  margin-bottom: 8%;
}

.fauplayp-black {
  font-size: 13px;
  color: rgb(0, 0, 0); 
  margin-left: 10px;
  position: relative;
}

.followus {
  width: 7.5em;
  height: 2.5em;
  margin-left: 15px;
  border-radius: 20px;
  border: 1px solid rgb(54, 54, 54);
  background: #00000089;
  color: white;
  margin-bottom: 10px;
}

.followus:hover{
  background: rgba(255, 255, 255, 0.195);
}

.followus2 {
  width: 2.5em;
  height: 2.5em;
  margin-left: 5px;
  border-radius: 20px;
  border: 1px solid rgb(54, 54, 54);
  background: #00000089;
  color: white;
  margin-bottom: 10px;
  size: 10px;
}

.followus2:hover{
  background: rgba(255, 255, 255, 0.195);
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd00;
  font-size: 16px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #dddddd00;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f148;
}


.audiobox {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0);
}

.Audiobox-content {
  position: relative;
  top: 80%;
  width: 80%;
  margin-top: 30px;
  margin: auto;
  border-radius: 10px;
  background: #000000db;
}

.AudioName {
  font-size: 25px;
  margin: 10px;
  color: white;
}

.ControlAudio {
  width: 4em;
  height: 4em;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 0px;
  background: transparent;
  color: white;
}

.ControlAudio:hover {
  background: rgba(255, 255, 255, 0.233);
}

.audiobox .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.audiobox .closebtn:hover {
  color: #ccc;
  background: rgba(255, 255, 255, 0.233);
}

audio {
  width: 90%;
  margin: 5px;
  color: rgba(255, 255, 255, 0.229);
}

.p {
  font-size: 13px;
  color: white; 
  margin-left: 10px;
  position: relative;
  margin-bottom: 5px;
}

.FauPlayPOP {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.91);
}

.FauplayUI-content {
  position: relative;
  top: 25%;
  width: 80%;
  margin-top: 30px;
  width: 70%;
  margin: 3em auto;
  background: linear-gradient(orangered, rgb(228, 85, 33), rgb(215, 95, 51), rgb(237, 120, 81), rgb(241, 186, 144), rgb(249, 249, 249));
  border-radius: 20px;
}

.FauPlaySignUp-butn {
  width: 70%;
  height: 4em;
  margin: 3em auto;
  margin-left: 40px;
  border-radius: 50px;
  border: 1px solid rgb(124, 124, 124);
  background: rgba(255, 255, 255, 0.438);
  transition-duration: 100ms;
}

.FauPlaySignUp-butn:hover {
  width: 72%;
  height: 4.2em;
  margin-left: 35px;
  background: rgb(229, 95, 46);
  border: 1px solid orangered;
  color: white;
}

.FauPlayPOP .closePOPbtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  background: rgba(255, 68, 0, 0.334);
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 20px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: rgb(255, 143, 30) !important; 
  color: #ffffff; 
}

.note2 {
  width: 70%;
  margin: 2em auto;
  height: auto;
  background: rgba(0, 0, 0, 0.617);
  border-radius: 10px;
}

.Slogo {
  width: 50px;
  box-shadow: none;
}

.game {
  width: 90%;
  height: 200px;
}

.character {
  width: 20px;
  height: 50px;
  background-color: orangered;
  position: relative;
  top: 150px;
  animation: jump 500ms infinite;
  border-radius: 20px;
}

@keyframes jump {
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

.block {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 255, 17);
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite;
  border-radius: 50px;
}

@keyframes block {
  0%{left: 480px;}
  100%{left:-40px;}
}