@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Newsreader:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

body {
    padding: 0;
    margin: 0;
    background: rgb(3, 3, 3);
}
.body {
    width: 90%;
    margin: 7em auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
}

.body2 {
  width: 90%;
  margin: 1em auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}

.topbody {
    width: 100%;
    top: 0px;
    margin: 0px;
    background: rgb(0, 0, 0);
    position: fixed;
}

.bottombody {
  width: 100%;
  bottom: 0px;
  height: 3.5em;
  margin: 0px;
  background: rgb(0, 0, 0);
  position: fixed;
}

.LogoTop {
    width: 90px;
    position: absolute;
}

h1 {
    font-family: 'Kenia', cursive;
    color: orangered;
    font-size: 35px;
    margin-left: 2em;
}

.trackcontainer {
  width: 100%;
  height: 6.5em;
  background: rgba(255, 255, 255, 0);
  position: relative;
  border-radius: 10px;
}

.trackcontainer:hover {
  background: rgba(255, 255, 255, 0.099);
}
.Thumbnail-circle {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  background: rgba(255, 255, 255, 0.13);
  margin: 5px;
  margin-top: 10px;  
  position: absolute;
  border-radius: 10px;
}

.Trackname {
  color: white;
  padding-top: 15px;
  margin-left: 4.5em;
}

.trackdiscription {
  color: rgba(255, 255, 255, 0.577);
  margin-left: 7em;
  margin-bottom: 5px;
}

.note-white {
  margin-left: 10px;
  color: white;
}

.opennav {
    width: 6em;
    height: 6em;
    right: 0px;
    color: white;
    background: rgb(0, 0, 0);
    border: 0px;
    position: fixed;
}

.opennav:hover {
  background: rgba(255, 68, 0, 0.484);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgb(9, 9, 9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .butns-nav {
    width: 90%;
    margin: 2em auto;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.091);
  }
  
  .overlay a {
    width: 95%;
    height: 2em;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #d0d0d0;
    display: block;
    transition: 0.3s;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    background: #ff550044;
  }
  
  .overlay .closebtn {
    position: absolute;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 45px;
    font-size: 60px;
    border-radius: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  .line {
      width: 20%;
      margin: 1em auto;
      height: 1px;
      background: #6e6f00;
  }
  
  .line2 {
    width: 90%;
    margin: 1em auto;
    height: 1px;
    background: #6e6f00;
  }
  
  .line3 {
      width: 90%;
      margin-left: 45px;
      height: 1px;
      background: #c7c7c7;
  }
  
  .line4 {
    width: 90%;
    margin-left: 10px;
    height: 1px;
    background: #c7c7c7;
  }

.Bottombar-Search {
    width: 25%;
    height: 3.5em;
    bottom: 0px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    float: left;
}


.Bottombar-Search:hover {
  background: rgba(255, 255, 255, 0.095);
}

.notifications {
  width: 1.3em;
  height: 1.3em;
  background: red;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  position: absolute;
  margin-bottom: 15px;
  margin-left: 18px;
}

.vidname {
  font-size: 30px;
  padding: 10px;
  font: bold;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.viddetails-box {
  width: 100%;
  border-radius: 10px;
  background: rgba(255, 68, 0, 0.489);
}

.viddetails {
  color: white;
  padding: 10px;
}

.vidname2 {
  font-size: 20px;
  color: white;
  padding-top: 15px;
  margin-left: 5.5em;
}

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body, .container, .video-controls, .video-timer, .options{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 98%;
  user-select: none;
  overflow: hidden;
  max-width: 900px;
  border-radius: 5px;
  background: #000;
  aspect-ratio: 16 / 9;
  position: relative;
  box-shadow: 0 10px 20px rgba(226, 15, 15, 0.436);
}
.container.fullscreen{
  max-width: 100%;
  width: 100%;
  height: 100vh;
  border-radius: 0px;
}
.wrapper{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  bottom: -15px;
  transition: all 0.08s ease;
}
.container.show-controls .wrapper{
  opacity: 1;
  bottom: 0;
  transition: all 0.13s ease;
}
.wrapper::before{
  content: "";
  bottom: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: calc(100% + 35px);
  pointer-events: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.video-timeline{
  height: 7px;
  width: 100%;
  cursor: pointer;
}
.video-timeline .progress-area{
  height: 3px;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}
.progress-area span{
  position: absolute;
  left: 50%;
  top: -25px;
  font-size: 13px;
  color: #fff;
  pointer-events: none;
  transform: translateX(-50%);
}
.progress-area .progress-bar{
  width: 0%;
  height: 100%;
  position: relative;
  background: #ff6122;
}
.progress-bar::before{
  content: "";
  right: 0;
  top: 50%;
  height: 13px;
  width: 13px;
  position: absolute;
  border-radius: 50%;
  background: #ff6822;
  transform: translateY(-50%);
}
.progress-bar::before, .progress-area span{
  display: none;
}
.video-timeline:hover .progress-bar::before,
.video-timeline:hover .progress-area span{
  display: block;
}
.wrapper .video-controls{
  padding: 5px 20px 10px;
}
.video-controls .options{
  width: 100%;
}
.video-controls .options:first-child{
  justify-content: flex-start;
}
.video-controls .options:last-child{
  justify-content: flex-end;
}
.options button{
  height: 40px;
  width: 40px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  background: none;
  color: #efefef;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.options button :where(i, span) {
  height: 100%;
  width: 100%;
  line-height: 40px;
}
.options button:hover :where(i, span){
  color: #fff;
}
.options button:active :where(i, span){
  transform: scale(0.9);
}
.options button span{
  font-size: 23px;
}
.options input{
  height: 4px;
  margin-left: 3px;
  max-width: 75px;
  accent-color: #ff6f00;
}
.options .video-timer{
  color: #efefef;
  margin-left: 15px;
  font-size: 14px;
}
.video-timer .separator{
  margin: 0 5px;
  font-size: 16px;
  font-family: "Open sans";
}
.playback-content{
  display: flex;
  position: relative;
}
.playback-content .speed-options{
  position: absolute;
  list-style: none;
  left: -40px;
  bottom: 40px;
  width: 95px;
  overflow: hidden;
  opacity: 0;
  border-radius: 4px;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: opacity 0.13s ease;
}
.playback-content .speed-options.show{
  opacity: 1;
  pointer-events: auto;
}
.speed-options li{
  cursor: pointer;
  color: #000;
  font-size: 14px;
  margin: 2px 0;
  padding: 5px 0 5px 15px;
  transition: all 0.1s ease;
}
.speed-options li:where(:first-child, :last-child){
  margin: 0px;
}
.speed-options li:hover{
  background: #dfdfdf;
}
.speed-options li.active{
  color: #fff;
  background: #fd743e;
}
.container video{
  width: 100%;
}

@media screen and (max-width: 540px) {
  .wrapper .video-controls{
    padding: 3px 10px 7px;
  }
  .options input, .progress-area span{
    display: none!important;
  }
  .options button{
    height: 30px;
    width: 30px;
    font-size: 17px;
  }
  .options .video-timer{
    margin-left: 5px;
  }
  .video-timer .separator{
    font-size: 14px;
    margin: 0 2px;
  }
  .options button :where(i, span) {
    line-height: 30px;
  }
  .options button span{
    font-size: 21px;
  }
  .options .video-timer, .progress-area span, .speed-options li{
    font-size: 12px;
  }
  .playback-content .speed-options{
    width: 75px;
    left: -30px;
    bottom: 30px;
  }
  .speed-options li{
    margin: 1px 0;
    padding: 3px 0 3px 10px;
  }
  .right .pic-in-pic{
    display: none;
  }
}